*.class
logs/
*.log
target/
build/
!src/main/**/target/
!src/test/**/target/
.gradle/
.gradle/**
**/build/
*.war
*.jar
*.zip
*.tmp
*.bak
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.emulator
coverage/
.coverage
**/jacoco-test.exec
.env
application-*.properties
application-*.yml
test-output/
out/
build/
